
<%= form_for(zone) do |f| %>
  <p>
    <%= f.label "Cardholder" %>
    <%= f.text_field :card_name %>
  </p>

  <p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>

  <p>
    <%= f.hidden_field :country, :value =>'US' %>
  </p>

  <p>
    <%= f.label :credit_card %>
    <%= f.text_field :credit_card %>
  </p>

  <p>
    <%= f.label :exp_date %>
    <%= f.text_field :exp_date %>
  </p>

  <p>
    <%= f.label :cvv %>
    <%= f.text_field :cvv %>
  </p>

<p>
  <%= f.submit "Payment Method" %>
</p>


<%=@api_response.inspect%>
<%=@response.inspect%>


<% end %>
