<h1>Confirmation</h1>
<!-- this is where the user can click yes or no and this can make the order complete -->
<!-- or if the user decides they no longer want this order they can cancel -->
<p> <%= link_to @order.id, order_path(@order.id) %></p>


<% total = 0 %>
<% @order.order_items.each do |order_item| %>
  <% total+=order_item.quantity * order_item.product.price  %>
  <p>Your order of: <%=link_to order_item.product.name, product_path(order_item.product.id) %><p> $<%= order_item.product.price %></p></p>
<h3>Order Details</h3>
<p>Name: <%=order_item.product.name %>
<p>Quantity Ordered: <%= order_item.quantity %></p>
<% end %>

<p>Order placed on:  <%= @order.completed_time.localtime.strftime("%B %-d, %Y %I:%M %p") %>
<p>Total Purchase: $ <%= total  %> <br/>

  <%= link_to "Go back to Product", products_path %>
