<h1>Shipping and Billing!</h1>
<%= @order.completion_status %>
<%= link_to "Go back to cart", cart_path %>

<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: "form", locals: {zone: @order} %>
<%= button_to "Cancel", root_path, method: :get, :order => params[:id], :onchange => "this.form.submit()",
:onclick => "return confirm('Are you sure you want to cancel?')" %> 
