<%= link_to "Go back to Product", products_path %>
<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h1>Shipping and Billing Information</h1>
<%= form_for @order do |f| %>
  <p>
    <%= f.label :card_name %>
    <%= f.text_field :card_name %>
  </p>

  <p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :credit_card %>
    <%= f.text_field :credit_card %>
  </p>

  <p>
    <%= f.label :exp_date %>
    <%= f.text_field :exp_date %>
  </p>

  <p>
    <%= f.label :cvv %>
    <%= f.text_field :cvv %>
  </p>

  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>

<p>
  <%= f.submit %>
</p>

<% end %>
