<h1>Fullfillment Order</h1>

<table>
  <thead>
    <tr>
      <th>Revenue Total</th>
      <th>Number of Orders</th>
      <th>Status</th>
    </tr>
  </thead>
  <% @status.each do |status| %>
  <tr>
    <td><%= number_to_currency(@user.total_revenue_by_status(status)/100.00) %></td>
    <td><%= @user.count_of_orders(status) %></td>
    <td><%= status.capitalize %></td>
  </tr>
  <% end %>
</table>

<table>
<thead>
  <tr>
    <th>Order Id</th>
    <th>Quantity</th>
    <th>Name</th>
    <th>Status</th>
    <th>Date</th>
    <th>Subtotal</th>
    <th>Shipped?</th>
  </tr>
</thead>

<%= form_tag("/users/#{params[:id]}/orders", method: :get) do %>
<%= label_tag("Completion Status") %>
<%= select_tag("completion_status", options_for_select([
["paid"],["pending"],["complete"],["cancelled"]], :selected => params[:completion_status]), :onchange => "this.form.submit()") %>
<% end %>

<% @order_items.each do |order_item| %>
<tr>
  <td><%= link_to order_item.order.id, order_path(:view => 'merchant', :id => order_item.order.id) %></td>
  <td><%= order_item.quantity %></td>
  <td><%=link_to order_item.product.name, product_path(order_item.product.id) %></td>
  <td><%= order_item.order.completion_status %></td>
  <td><%= order_item.order.completed_time.strftime("%B %d, %Y") if order_item.order.completed_time %></td>
  <td><%= number_to_currency(order_item.quantity * order_item.product.price) %>
  <td><% if order_item.order.completion_status == "complete" %>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
      <% end %></td>
      <td><%= button_to "Ship Item", {:order => order_item.order.id, :controller => :orders, :action => "complete" }, method: :patch, :onchange => "this.form.submit()" %></td>
</tr>
<% end %>


<p><strong>Total Revenue: </strong><%= number_to_currency(@user.total_revenue/100.00) %></p>
