
<h1> Buyer Detail Form: For Order: #<%= @order.id %> </h1>

<p>Name: <%= @order.card_name %></p>
<p>Email: <%= @order.email %></p>
<p>Address: <%= @order.address %></p>
<p>Credit card: <%= @order.to_s.slice(-4..-1).to_i %></p>

<%= link_to "Confirmation", confirmation_path %>
