
<h1> Buyer Detail Form: For Order: #<%= @order.id %> </h1>

<p>Name: <%= @order.card_name %></p>
<p>Email: <%= @order.email %></p>
<p>Address: <%= @order.address %></p>
<p>Credit card: <%= @order.to_s.slice(-4..-1).to_i %></p>


<h3>Order Details</h3>
<% @order.order_items.each do |order_item| %>
<p>Name: <%=order_item.product.name %>
<p>Quantity Ordered: <%= order_item.quantity %></p>
<% end %>

<% if @order == "yes" %>
<% order.completion_status = "paid" %>
<% else @order == "no" %>
<% @order.completion_status = "cancelled" %>

  <%= form_for @order do |f| %>
  <%= f.select :completion_status, options_for_select([
    ["yes"],["no"]]),{},html_options = {:class => "listBox"} %>
  <%= button_to "Confirm Purchase", confirmation_path, method: :get %><br/>
  <% end %>
  <% end %>


<%= button_to "Edit Purchase", cart_path, method: :get %>
