
<h1> Buyer Detail Form: For Order: #<%= @order.id %> </h1>

<p>Name: <%= @order.card_name %></p>
<p>Email: <%= @order.email %></p>
<p>Address: <%= @order.address %></p>
<p>Credit card: <%= @order.to_s.slice(-4..-1).to_i %></p>

<h3>Order Details</h3>
<% @order.order_items.each do |order_item| %>
  <p>Name: <%=order_item.product.name %>
    <p>Quantity Ordered: <%= order_item.quantity %></p>
<% end %>
<%=@response.class%>

<%=@response.inspect%>


<%= button_to "Confirm Purchase", confirmation_path, method: :get,
  :onclick => "return confirm('Are you sure you want to purchase?')" %> <br/> <br/>

<%= button_to "Edit Purchase", cart_path, method: :get %><br/><br/>
