<h1>Your Cart</h1>

  <ul>
    <% total = 0 %>
    <% @order_items.each do |item| %>
      <% product = Product.find(item.product_id) %>
      <li>
        <%= product.name %>
        <ul>
          <li>Price: <%= product.price %></li>
          <li>Quantity: <%= item.quantity %>
            <% if product.stock > 1 %>
              <%= form_for(item, url: update_cart_path(item.id), method: :patch) do |f| %>
                <%= f.label "Change Quantity" %>
                <%= f.select(:quantity, options_for_select((1..product.stock)), include_blank: true) %>
                <%= f.submit "Update" %>
              <% end %>
            <% else %>
              (Only 1 left in stock!)
            <% end %>
          </li>
          <li><%= link_to "Remove This Item", {:controller => :order_items, :action => 'destroy', :id => item.id}, method: :delete %></li>
        </ul>
      </li>
      <% total += (product.price * item.quantity) %>
    <% end %>
  </ul>

  <p>Total: <%= total %></p>

<p>Proceed to Checkout</p>
