<div class="panel panel-warning">
  <div class="panel-body">
    <h2>Your Cart  <span class="totalcart">Total:<%= @order.order_total%></span>
</h2>
    <!-- <% if @order.nil? %>
      <p>No items in cart. </p>
    <% else %> -->
    <ul>
      <% @order_items.each do |item| %>
        <% product = Product.find(item.product_id) %>
        <li>
          <%= image_tag product.image, height: '100', width: '100', class: "productpic" %>

          <h4><%= product.name %> <span class="subtotal">Sub-Total: $<%= item.sub_total %></span></h4>

          <ul>
            <li>Price: $<%= product.price/100.0 %></li>
            <li>Quantity: <%= item.quantity %>
              <% if product.stock > 1 %>
                <%= form_for(item, url: update_cart_path(item.id), method: :patch) do |f| %>
                  <%= f.label "Change Quantity" %>
                  <%= f.select(:quantity, options_for_select((1..product.stock)), include_blank: true) %>
                  <%= f.submit "Update" %>
                <% end %>
              <% else %>
                (Only 1 left in stock!)
              <% end %>
            </li>
            <li><%= link_to "Remove This Item", {:controller => :order_items, :action => 'destroy', :id => item.id}, method: :delete %></li>
          </ul>
        </li>

      <% end %>
    </ul>


      <%= button_to "Clear Cart", root_path, method: :get, :order => params[:id], :onchange => "this.form.submit()",
      :onclick => "return confirm('Are you sure you want to cancel?')" %> <br/> <br/>
      <%= link_to "Proceed To Checkout", edit_order_path(@order.id), class: "fancylink" %>

    <!-- <%end%> -->
  </div>
</div>
