<% if @product.errors.any? %>
  <ul class="errors">
    <% @product.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @product do |f| %>
<!-- use the instance to give form_for all the information they need to know about tasks! -->
  <%= field_set_tag 'Product Information', :html => {:class => "form-group"}  do %>
    <%= f.label "Name" %>
    <%= f.text_field :name, placeholder: "Name" %>

    <%= f.label "Description" %>
    <%= f.text_field :description, placeholder: "Description" %>

    <%= f.label "Price" %>
    <%= f.text_field :price, placeholder: "price" %>

    <%= f.label "Paste Image URL" %>
    <%= f.text_field :image, placeholder: "image URL" %>

    <%= f.label "Categories" %>
    <%= f.select :categories, options_for_select(@categories, params[:categories]), {}, {multiple: true} %>

    <%= f.label "Stock" %>
    <%= f.text_field :stock, placeholder: "Stock" %>

    <%= f.label "Status" %>
    <%= f.select :status, options_for_select([
      ["active"],["retired"]]),{},html_options = {:class => "listBox"}%>

    <%= f.hidden_field :user_id, value: params[:user_id] || current_user.id %>

    <%= f.submit class: "btn btn-primary" %>

  <% end %>
<% end %>
