<h1>Beeyonce</h1>

<%= link_to "Sign Up", new_user_path unless current_user %>
<%= link_to "Log In", login_path unless current_user %>
<%= link_to "My Products", "/users/#{@user.id}/products", method: :get if current_user %>
<%= link_to "Log Out", logout_path, method: :delete if current_user %>
<%= link_to "Add New Category", new_category_path if current_user %>


<ul>
<div class="row">
  <div class="col-sm-6 col-md-4">
  <% @products.each do |product| %>
    <div class="thumbnail">
      <li>
        <div class="caption">
          <%= link_to product.name, product_path(product.id) %>
        </div>
        <br>
        <%= image_tag(product.image, height: '300', width: '300') %>
      </li>
    </div>
  <% end %>
  </div>
</div>
</ul>
