<h1>Beeyonce</h1>

<%= link_to "Sign Up", new_user_path unless current_user %>
<%= link_to "Log In", login_path unless current_user %>
<%= link_to "My Products", "/users/#{@user.id}/products", method: :get if current_user %>
<%= link_to "Log Out", logout_path, method: :delete if current_user %>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %>
    <img src="<%=product.image || "http://az616578.vo.msecnd.net/files/2016/04/24/6359711199706501341141665032_no2.jpg"%>"/>
  </li>
  <% end %>
</ul>