<h1><%= @product.name %></h1>
<ul>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= "$#{@product.price/100.00}" %></li>
  <% if @product.stock == 1 %>
  <li><%= "Stock: Only 1 available!" %></li>
  <% end %>
</ul>

<%= link_to "Add a Review", new_product_review_path(@product.id) %>

<h2>Reviews</h2>
  <% if @product.reviews == [] %>
    <p>No reviews yet.</p>
  <% else %>
    <p>This product has <%= @product.reviews.count %> review.</p>
  <% end %>
